<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js">
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>

    function onLoad() {
        document.addEventListener("deviceready", function() { 
          angular.bootstrap(document, ['fitbyte']);
        }, false);
        var fitbyte = angular.module('fitbyte', ['ionic', 'fitbyte.controllers'])
          .run(function($ionicPlatform) {
            $ionicPlatform.ready(function() {
              if(window.cordova && window.cordova.plugins.Keyboard) {
                // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
                // for form inputs)
                cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);

                // Don't remove this line unless you know what you are doing. It stops the viewport
                // from snapping when text inputs are focused. Ionic handles this internally for
                // a much nicer keyboard experience.
                cordova.plugins.Keyboard.disableScroll(true);
              }
              if(window.StatusBar) {
                StatusBar.styleDefault();
              }
            });
          })

    }

  </head>
  <body ng-app="fitbyte">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Fitbyte</h1>
      </ion-header-bar>
      <ion-content>
        <div ng-controller="trackSensorDataController">

          <form ng-submit="trackSensorData(sensorData)" name="trackSensorDataForm">
            
            <table>

              <tr>
                <td>Interval (Seconds)</td>
                <td><input type="number" ng-model="sensorData.interval"></td>
              </tr>
              
              <tr>
                <td>Device_ID</td>
                <td>
                  <select ng-model="sensorData.Device_ID">
                    <option value="d001" ng-selected="true">d001</option>
                    <option value="d002">d002</option>
                    <option value="d003">d003</option>
                  </select>
                </td>
              </tr>
              
              <tr>
                <td>Record_Datetime</td>
                <td><input type="hidden" ng-model="sensorData.Record_Datetime" value="{{data.currentDatetime}}">{{data.currentDatetime}}</td>
              </tr>

              <tr>
                <td>Heartrate</td>
                <td>{{data.Heartrate}}</td>
              </tr>

              <tr>
                <td>Gps_Lat</td>
                <td>{{data.Gps_Lat}}</td>
              </tr>

              <tr>
                <td>Gps_Long</td>
                <td>{{data.Gps_Long}}</td>
              </tr>

              <tr>
                <td>Gps_Altitude</td>
                <td>{{data.Gps_Altitude}}</td>
              </tr>

              <tr>
                <td>Gps_Accuracy</td>
              </tr>

              <tr>
                <td>Accelerometer</td>
              </tr>

              <tr>
                <td>Proxminity_Sensor</td>
              </tr>

            </table>
            
            <button type="submit">Track Data</button>
          </form>

          <button ng-click="stopTracking()">Stop Tracking</button>

        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
